<!DOCTYPE html>
<html>
<head>
    <title>Ingresar Datos Generales</title>
</head>
<body>
    <h1>Ingresar Datos Generales</h1>

        <form action="{{ url_for('add_datos_generales') }}" method="post">
            <label for="dni">DNI:</label>
        <input type="number" id="dni" name="dni" required><br><br>
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" required><br><br>
        <label for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="nombres" required><br><br>
        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br><br>
        <input type="submit" value="Guardar">
    </form>

    <a href="{{ url_for('list_datos_crud') }}">Regresar a Datos Generales o List</a>
</body>
</html>
