<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Principal - Curriculum</title>
</head>
<body>
    <h1>Bienvenido al Portal de Curriculum</h1>
    <p>Selecciona una de las opciones a continuación:</p>
    <ul>
        <li><a href="http://localhost:5001/list_datos_crud">Listado Datos Generales</a></li>
        <li>"   "  </li>
        
        <li>"Contendores sgtes"  </li>
        <li>"  "  </li>
          
        <li><a href="http://localhost:5002/list_datos_estudios">List de Estudios</a></li>
        <!-- Puedes agregar enlaces a otros microfrontends aquí -->
    </ul>
</body>
</html>
