/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Estilos del menú lateral */
#menu-lateral {
  width: 200px; /* Ancho fijo para el menú lateral */
  background-color: #333;
  color: white;
  height: 100vh; /* 100% de la altura de la ventana del navegador */
}

#menu-lateral ul {
  list-style: none;
  padding: 0;
}

#menu-lateral ul li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

#menu-lateral ul li a:hover {
  background-color: #555;
}

/* Estilos de las ventanas de contenido */
#contenedor-ventanas {
  flex-grow: 1; /* Ocupa el espacio restante */
  padding: 20px;
  overflow: auto; /* Añadir scroll si el contenido es muy largo */
}

.ventana {
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 20px;
}
.ventana-activa {
  background-color: #ffff88;
}